*/out/
*/.vs/
/temp/
Diplom_CPP.vcxproj.filters
Diplom_CPP.vcxproj.user
Diplom_CPP.vcxproj
*.ninja
*.yaml
*.ninja
*.ninja
Finder/enc_temp_folder/5aad1b4fa32bf5fc3031f9948e9fb61/main.cpp
Spider/examples.txt
POSTexample.cpp